#!name=哎呀漫鸭
#!desc=哎呀漫鸭终身会员解锁脚本
#!author=留存@午时已到，原作者@Yu9191
#!category=⚙️ ▸ 应用解锁
#!icon=https://raw.githubusercontent.com/W126-L/QuantumultX/refs/heads/main/aiyamanya.png
#

^https:\/\/www\.aiyamanya\.com\/aymy\/api\/getUserInfo url script-response-body https://raw.githubusercontent.com/W126-L/QuantumultX/refs/heads/main/ManYa.js

hostname = www.aiyamanya.com
